ThemeConverter/ThemeConverter/ColorCompiler/ThemeValidation.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="ST_ColorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CT_INVALID" />
      <xs:enumeration value="CT_RAW" />
      <xs:enumeration value="CT_COLORINDEX" />
      <xs:enumeration value="CT_SYSCOLOR" />
      <xs:enumeration value="CT_VSCOLOR" />
      <xs:enumeration value="CT_AUTOMATIC" />
      <xs:enumeration value="CT_TRACK_FOREGROUND" />
      <xs:enumeration value="CT_TRACK_BACKGROUND" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ST_ARGBValue">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-fA-F]{8}" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ST_Name">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ST_Guid">
    <xs:restriction base="xs:string">
      <xs:pattern value="\{[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}\}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="CT_ColorAttributes">
    <xs:attribute name="Type" use="required" type="ST_ColorType" />
    <xs:attribute name="Source" use="required" type="ST_ARGBValue" />
  </xs:complexType>

  <xs:element name="Themes">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Theme">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Category">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Color">
                      <xs:complexType>
                        <xs:choice>
                          <xs:sequence>
                            <xs:element name="Background" type="CT_ColorAttributes" />
                            <xs:element minOccurs="0" name="Foreground" type="CT_ColorAttributes" />
                          </xs:sequence>
                          <xs:sequence>
                            <xs:element name="Foreground" type="CT_ColorAttributes" />
                          </xs:sequence>
                        </xs:choice>
                        <xs:attribute name="Name" use="required" type="ST_Name" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Name" use="required" type="ST_Name" />
                  <xs:attribute name="GUID" use="required" type="ST_Guid" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Name" use="required" type="ST_Name" />
            <xs:attribute name="GUID" use="required" type="ST_Guid" />
            <xs:attribute name="FallbackId" use="optional" type="ST_Guid" />
            <xs:anyAttribute processContents="skip" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>